@import "tailwindcss";

@theme {
  /* ผูกฟอนต์เข้ากับระบบของ Tailwind v4 */
  --font-serif: var(--font-serif), serif;
  --font-sans: var(--font-sans), sans-serif;

  /* กำหนดสี Dark Mode เป็นค่าเริ่มต้นของเว็บ (ตามแบบเว็บ Rico) */
  --color-background: #030712;
  /* ดำอมน้ำเงินเข้มจัด */
  --color-foreground: #f3f4f6;
  /* ตัวหนังสือสีขาวนวล */

  --color-primary: #2E7AF0;
  /* สีน้ำเงินของปุ่ม  */
  --color-primary-hover: #0C49A8;
  /* สีน้ำเงินเข้มขึ้นสำหรับปุ่มเมื่อโฮเวอร์ */
  --color-secondary: #9ca3af;
  /* สีข้อความรอง (สีเทา) */
}

/* ปรับลายตารางให้เส้นเป็นสีเทาเข้มจางๆ เหมาะกับธีมมืด */
.bg-grid-pattern {
  background-image:
    linear-gradient(to right, rgba(55, 65, 81, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(55, 65, 81, 0.15) 1px, transparent 1px);
  background-size: 15px 15px;
  mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, #000 70%, transparent 100%);
  -webkit-mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, #000 70%, transparent 100%);
}

/* เพิ่มอนิเมชันสำหรับโหลดหน้าเว็บ */
@keyframes pageLoadEntrance {
  0% {
    filter: blur(20px);
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0);
  }
}

/* สร้าง Class สำเร็จรูปเพื่อให้เรียกใช้งานได้ง่ายใน Tailwind */
.animate-page-entrance {
  animation: pageLoadEntrance 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  will-change: filter, opacity, transform;
}

h1 {
  font-size: 36px;
  font-family: var(--font-serif);
  color: var(--color-primary);
}

h2 {
  font-size: 24px;
  font-family: var(--font-serif);
  color: var(--color-primary);
}